<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send Mail</title>
</head>
<body>
<form action="" method="post" th:if="!${users.isEmpty()}">
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <h2 th:if="!${message != null && message.isEmpty()}" th:text="${message}">Message</h2>
    <h3>Select users to send mail to</h3>

    <select name="to[]" title="To" multiple size="15">
        <option th:attr="value=${user.fullName} + ' - ' + ${user.email}" th:each="user, index: ${users}"
                th:text="${user.fullName} + ' ' + ${user.email}"></option>
    </select>

    <h3>Select users to send copies to</h3>
    <select name="cc[]" title="Copies" multiple size="15">
        <option th:attr="value=${user.fullName} + ' - ' + ${user.email}" th:each="user, index: ${users}"
                th:text="${user.fullName} + ' ' + ${user.email}"></option>
    </select>

    <br>
    <h3>Message</h3>
    <textarea title="Message" name="message"></textarea>
    <br>
    <h3>Subject</h3>
    <input type="text" title="Subject" name="subject">
    <p>
        <input type="submit" value="Send mails" name="submit">
    </p>
</form>
</body>
</html>